<template>
  <div class="header">
   <div class="header-wrapper">
     <div class="header-avatar">
       <img src="https://sun1.megafon-nn.userapi.com/s/v1/if2/TA_UMxrbq3ywauqGhBv5ZbxB6xDJdbSrApOdiBFAHtDK5xyy58akGelSHGHJUW_r04lFarpRBwUKML85-vrviSmV.jpg?size=200x0&quality=96&crop=0,0,500,500&ava=1">
       <p>{{user.login}}</p>
     </div>
     <v-btn text color="green" class="pr-0 d-flex justify-end" @click.prevent="exit">
       <i class="fa fa-sign-out  fa-2x" aria-hidden="true"></i></v-btn>
   </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "HeaderMenu",
  computed: {
    ...mapGetters(['user'])
  },
  methods: {
    exit() {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style scoped>
  .header {
    background-color: black;
  }
  .header-wrapper > p {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
  }
  .header-avatar {
    display: flex;
    align-items: center;
  }
  .header-avatar > p {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  .header-avatar > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .header-wrapper {
    width: 91%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
  }
</style>
