<template>
  <div>
    <div class="text-center mt-5 mb-4">
      <v-dialog
          v-model="dialog"
          width="500"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
              color="teal"
              dark
              text
              v-bind="attrs"
              v-on="on"
          >
            + Добавьте первого бота
          </v-btn>
        </template>

        <v-card>
          <v-card-title class="text-h6 teal lighten-3 white--text">
            Добавление нового бота
          </v-card-title>
            <div class="form-bot">
              <form v-if="form.step === 1" @submit.prevent="sendFormBot" class="form-bot">
                <v-text-field
                    v-model="form.name"
                    label="Придумайте название бота"/>
                <v-text-field
                    v-model="form.bot"
                    label="Введите токен бота"/>
                <div class="form-buttons">
                  <v-btn
                      class="form-button"
                      color="primary"
                      text
                      type="submit"
                  >
                    Отправить
                  </v-btn>
                  <v-btn
                      class="form-button"
                      color="red"
                      text
                      @click="dialog = false"
                  >
                    Отмена
                  </v-btn>
                </div>
              </form>
<!--              <form v-else-if="form.step === 2"  class="form-bot">-->
<!--               -->
<!--                <p>Пожалуйста, подождите. Ожидаем данные...</p>-->
<!--                <v-progress-linear-->
<!--                    color="deep-purple accent-4"-->
<!--                    indeterminate-->
<!--                    rounded-->
<!--                    height="6"-->
<!--                ></v-progress-linear>-->
<!--              </form>-->
              <form @submit.prevent="saveTelegram" class="form-bot" v-else-if="form.step === 2">
                <p>Нажмите старт в своем боте</p>
                <v-text-field
                    v-model="form.chat"
                    label="Введите код, который пришел в телеграм канале"/>
                <v-btn type="submit" text color="green">Сохранить</v-btn>
              </form>
            </div>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: "addFormBot",
  computed: {
    ...mapGetters(['telegram', 'user']),
    info () {
      return this.telegram?.info
    }
  },
  data: () => ({
    dialog: false,
    form: {
      name: '',
      bot: '',
      check: '',
      step: 1,
      chat: '',
      botCheck: false
    },
  }),
  methods: {
    sendFormBot() {
      const dataBotObject = {
        bot: this.form.bot,
        botCheck: this.form.botCheck
      }
      this.$store.dispatch('sendTelegram', dataBotObject)
      this.form.step = 2
    },
    saveTelegram () {
      const dataTelegramObject = {
        name: this.form.name,
        botID: this.form.bot,
        chat: this.form.chat,
        createdUser: this.user._id
      }
      console.log('dataTelegram', dataTelegramObject)
      this.$store.dispatch('saveTelegram', dataTelegramObject)
      this.dialog = false
      this.form.step = 1
    }
  },
  watch: {
    info: function (val) {
      this.form.chat = val
      this.form.step = 3
    }
  }
}
</script>

<style scoped>
.form-bot {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.form-buttons {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}
</style>
