<template>
  <div>
    <template v-if="targetTelegram">
      <!--        Показ существуешь комманд -->
      <div class="review-form-command" v-for="item in targetTelegram.commandsText" :key="item.id + 'text'">
        <div @click.stop="deleteCommandText({type: 'commandsText', data: item.command})" class="deleteElement pa-0" text><i  class="fa fa-times-circle fa-2x" aria-hidden="true"></i></div>
        <div class="review-form-command-block mt-3">
          <p class="mb-2"><b>Комманда:</b> {{item.command}}</p>
          <p><b>Текст:</b> {{item.text}}</p>
        </div>
      </div>
      <!--        Показ  данных-->
      <!--        Показ inline комманд -->
      <div class="review-form-command" v-for="item in targetTelegram.commandsKeyboard" :key="item.id">
        <div @click.stop="deleteCommandText({type: 'commandsKeyboard', data: item.command})" class="deleteElement pa-0" text><i  class="fa fa-times-circle fa-2x" aria-hidden="true"></i></div>
        <div class="review-form-command-block mt-3">
          <p class="mb-2"><b>Комманда:</b> {{item.command}}</p>
          <p><b>Текст:</b> {{item.text}}</p>
        </div>
      </div>
      <!--        Показ inline данных-->
    </template>
    <form @submit.prevent="sendFormUpdateBot" class="form-send-text mt-5 pb-5">
      <form @submit.prevent="sendCommandLocalText">
        <p class="form-p  mb-3">Добавить команду</p>
        <p class="form-p-subtitle"><span class="error--text">* Внимание!</span> Не забудьте указать вспомогательные комманду <span class="span-text">START</span></p>
        <p class="form-p-subtitle mt-4 mb-3"><span class="span-text" >START:</span> позволяет поприветсовать человека при первом включении бота.</p>
        <p> Все комманды нужно прописывать без <b>'/'</b> и латинскими буквами. Например: <b>"help"</b></p>
        <v-text-field
            v-model="commandTextLocal.command"
            label="Введите комманду"
            outlined
        ></v-text-field>
        <v-textarea
            v-model="commandTextLocal.text"
            label="Введите текст ответа"
            auto-grow
            outlined
            rows="1"
            row-height="15"
        ></v-textarea>
        <v-btn
            class="white--text mb-3"
            type="submit"
            block
            color="teal lighten-2">Добавить комманду</v-btn>
<!--        Предварительный пока формы комманд -->
        <div class="review-form-command" v-for="command in form.commandText" :key="command.id">
         <div @click.stop="deleteElementText(command.id)" class="deleteElement pa-0" text><i  class="fa fa-times-circle fa-2x" aria-hidden="true"></i></div>
         <div class="review-form-command-block mt-3">
           <p class="mb-2"><b>Комманда:</b> {{command.command}}</p>
           <p><b>Текст:</b> {{command.text}}</p>
         </div>
        </div>
<!--        Предварительный показ формы комманд-->
      </form>
      <div class="switch-keyboard mt-2">
        <p>Добавить инлайн клавиатуру?</p>
        <v-switch
            v-model="form.keyboard"
            :label="`${form.keyboard ? 'Включена' : 'Выключена'}`"
        ></v-switch>
      </div>
      <form v-if="form.keyboard" @submit.prevent="sendCommandLocalKeyboard">
        <p class="form-p  mb-3">Добавить команду</p>
        <p class="form-p-subtitle mb-3"><span class="error--text">* Внимание!</span> Все комманды можно писать на русском. Например: <b>"О компании"</b></p>
        <v-text-field
            v-model="commandKeyboardLocal.command"
            label="Введите комманду"
            outlined
        ></v-text-field>
        <v-textarea
            v-model="commandKeyboardLocal.text"
            label="Введите текст ответа"
            auto-grow
            outlined
            rows="1"
            row-height="15"
        ></v-textarea>
        <v-btn
            class="white--text mb-3"
            type="submit"
            block
            color="teal lighten-2">Добавить комманду</v-btn>
        <!--        Предварительный пока формы комманд -->
        <div class="review-form-command" v-for="command in form.commandKeyboard" :key="command.id">
          <div @click.stop="deleteElementKeyboard(command.id)" class="deleteElement pa-0" text><i  class="fa fa-times-circle fa-2x" aria-hidden="true"></i></div>
          <div class="review-form-command-block mt-3">
            <p class="mb-2"><b>Комманда:</b> {{command.command}}</p>
            <p><b>Текст:</b> {{command.text}}</p>
          </div>
        </div>
        <!--        Предварительный показ формы комманд-->
      </form>
      <v-textarea
          v-model="form.notCommand"
          label="Введите текст, если комманда не найдена"
          auto-grow
          outlined
          rows="1"
          row-height="10"
          class="mt-3"
      ></v-textarea>
      <v-btn
          class="white--text"
          type="submit"
          block
          color="light-blue lighten-1">Сохранить настройки бота</v-btn>
    </form>
  </div>
</template>

<script>
export default {
  name: "createNewCommand",
  props: {
    data: {
      type: Object
    },
    id: {
      type: String
    },
    commands: {
      type: [Object, Array]
    }
  },
  computed: {
    targetTelegram() {
      return Array.isArray(this.commands) && this.commands.find(t => this.commandTelegram === t.id)
    },
    commandTelegram() {
      return this.$route.params.id
    }
  },
  data: () => ({
    form: {
      commandText: [],
      commandKeyboard: [],
      notCommand: '',
      keyboard: false
    },
    commandTextLocal: {
      id: 0,
      command: '',
      text: ''
    },
    commandKeyboardLocal: {
      id: 0,
      command: '',
      text: ''
    }
  }),
  methods: {
    sendCommandLocalText() {
      this.form.commandText.push({id: this.commandTextLocal.id++, command: `/${this.commandTextLocal.command}`, text: this.commandTextLocal.text})
      this.commandTextLocal.command = ''
      this.commandTextLocal.text = ''
    },
    sendCommandLocalKeyboard() {
      this.form.commandKeyboard.push({id: this.commandKeyboardLocal.id++, command: this.commandKeyboardLocal.command, text: this.commandKeyboardLocal.text})
      this.commandKeyboardLocal.command = ''
      this.commandKeyboardLocal.text = ''
    },
    sendFormUpdateBot() {
      if(!this.form.keyboard) {
        const dataTelegramCommandO = {
          commandsText: this.form.commandText,
          notCommand: this.form.notCommand,
          createdUser: this.id,
          botID: this.data.botID,
          chat: this.data.chat,
          keyboard: this.form.keyboard,
          id: this.data._id
        }
        console.log('da', dataTelegramCommandO)
        this.$store.dispatch('sendTelegramCommand', dataTelegramCommandO)
      } else {
        const dataTelegramCommandO = {
          commandsText: this.form.commandText,
          commandsKeyboard: this.form.commandKeyboard,
          notCommand: this.form.notCommand,
          createdUser: this.id,
          botID: this.data.botID,
          chat: this.data.chat,
          keyboard: this.form.keyboard,
          id: this.data._id
        }
        console.log('da', dataTelegramCommandO)
        this.$store.dispatch('sendTelegramCommand', dataTelegramCommandO)
      }
    },
    deleteElementText(id) {
      this.form.commandText.splice(this.form.commandText.indexOf(id), 1);
    },
    deleteElementKeyboard(id) {
      this.form.commandKeyboard.splice(this.form.commandText.indexOf(id), 1);
    },
    deleteCommandText(command) {
      console.log('dataCreatedElement', command)
      const dataDeleteElement = {
        command: command.data,
        id: this.targetTelegram._id,
        type: command.type
      }
      console.log('dataCreate', dataDeleteElement)
      this.$store.dispatch('deleteCommand', dataDeleteElement)
    }
  }
}
</script>

<style scoped>
.form-send-text {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review-form-command {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #80CBC4;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  overflow-y: scroll;
  position: relative;
}
.review-form-command-block {
  width: 100%;
  max-height: 100px;
  min-height: 50px;
}
.form-p {
  margin: 0 0 40px 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}
.deleteElement {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #FF7043;
}
.v-application .mt-3 {
   margin-top: 0 !important;
}
.form-p-subtitle {
  padding: 0;
  margin: 0;
}
.span-text {
  font-weight: 600;
  color: #00897B;
}
.switch-keyboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch-keyboard > p {
  padding: 0;
  margin: 0;
}
</style>
