<template>
  <form @submit.prevent="sendTextForm" class="form-send-text">
    <v-textarea
        v-model="form.message"
        label="Введите текст"
        auto-grow
        outlined
        rows="1"
        row-height="15"
    ></v-textarea>
    <v-btn
        class="white--text"
        type="submit"
        block
        color="teal lighten-2">Отправить</v-btn>
  </form>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "sendMessageBot",
  computed: {
    ...mapGetters(['telegramChat'])
  },
  data: () => ({
    form: {
      message: ''
    }
  }),
  methods: {
    sendTextForm() {
      const dataTextTelegramO = {
        text: this.form.text
      }
      console.log('Заглушка', dataTextTelegramO)
    }
  },
  // mounted() {
  //   this.$store.dispatch('getTelegramChat')
  // }
}
</script>

<style scoped>

</style>
