<template>
  <div>
    <v-card
        class="card-bot mb-4"
        v-for="chat in telegramChat"
        :key="chat.chatID"
        elevation="2"
    >
      <div class="chat-avatar-user">
        <img class="card-bot-img" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"/>
        <p>{{chat.nameUser}}</p>
      </div>
      <v-btn text color="green"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></v-btn>
    </v-card>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "wrapperChat",
  computed: {
    ...mapGetters(['telegramChat']),
  },
  mounted() {
    this.$store.dispatch('getTelegramChat')
  }
}
</script>

<style scoped>
  .card-bot-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .card-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 20px 16px;
    margin: 0 auto;
  }
  .card-bot > p {
    margin: 0;
    padding: 0;
  }
  .chat-avatar-user {
    display: flex;
    align-items: center;
  }
  .chat-avatar-user > p{
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .fa-telegram {
    color: #0288D1;
  }
</style>