<template>
  <div>
    <header-menu/>
    <div class="bot-wrapper mt-5 ">
      <div class="bot-settings mb-6">
        <v-btn class="pa-0" @click.stop="back" text color="grey"><i class="fa fa-arrow-circle-left fa-2x mr-3" aria-hidden="true"></i> Назад</v-btn>
      </div>
      <div class="bot-settings">
        <p class="bot-settings-title mb-5">Вы находитесь в настройках бота: </p>
        <p class="bot-settings-title">{{targetTelegram.name}}</p>
      </div>
      <create-new-command  :commands="commands" :data="targetTelegram" :id="user._id"/>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import HeaderMenu from "@/components/profile/views/HeaderMenu";
import CreateNewCommand from "@/components/profile/forms/createNewCommand";

export default {
  name: "botItem",
  components: {CreateNewCommand, HeaderMenu},
  computed: {
    ...mapGetters(['telegramUser', 'user', 'commands']),
    targetTelegram() {
      return Array.isArray(this.telegramUser) && this.telegramUser.find(t => this.telegramUserRoute === t._id)
    },
    telegramUserRoute() {
      return this.$route.params.id
    },
  },
  methods: {
    back() {
      this.$router.push(`/user/${this.user.login}`)
    }
  },
  mounted() {
    this.$store.dispatch('getCommand')
  }
}
</script>

<style scoped>
.bot-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.bot-settings-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
}
.bot-wrapper {
  width: 90%;
  margin: 0 auto;
}
</style>
