<template>
  <div>
    <v-card
        class="card-bot mb-4"
        v-for="bot in telegramUser"
        :key="bot._id"
        elevation="2"
    >
      <div class="card-bot-info">
      <img class="card-bot-img" src="https://avatars.githubusercontent.com/u/33565557?v=4"/>
      <p class="card-bot-name">{{bot.name}}</p>
      </div>
       <div class="card-bot-info">
         <v-btn @click.prevent="openBot(bot._id)" text color="green">
           <i class="fa fa-cog  fa-2x" aria-hidden="true"></i></v-btn>
         <v-btn @click.prevent="deleteBot({id: bot._id, botID: bot.botID})" text color="green">
           <i class="fa fa-trash fa-2x" aria-hidden="true"></i></v-btn>
       </div>
    </v-card>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "telegramCard",
  computed: {
    ...mapGetters(['telegramUser'])
  },
  methods: {
    openBot(id) {
      this.$router.push(`/user/bot/${id}`)
    },
    deleteBot(botID) {
      console.log('botID', botID)
      const botObjectID = {
        id: botID.id,
        botID: botID.botID
      }
      console.log('botObjectID', botObjectID)
      this.$store.dispatch('deleteBot', botObjectID)
    }
  },
  mounted() {
    this.$store.dispatch('getTelegram')
  }
}
</script>

<style scoped>
  .card-bot-name {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }
  .card-bot-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .card-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px 20px 16px;
    margin: 0 auto;
  }
  .card-bot-info {
    display: flex;
    align-items: center;
  }
  .card-bot-name {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
  }
  .fa-trash {
    color: red;
  }
</style>
