<template>
  <div class="main-wrapper">
    <div class="menu">
      <Menu/>
    </div>
    <notification v-if="infoTable"  :error="errorInfo" :success="successInfo"/>
    <div class="main-form d-flex align-center justify-center flex-column">
      <Auth  v-if="selectForm" @selectForm="changeForm"/>
      <Register v-else  @selectForm="changeForm"/>
    </div>
  </div>
</template>

<script>
import Register from "@/components/register";
import Auth from '@/components/auth'
import {mapGetters} from 'vuex'
import Notification from "../components/notificationAlert";

  export default {
    name: 'Home',
    components: {Notification, Register, Auth },
    computed: {...mapGetters(['error', 'notification'])},
    data: () => ({
      selectForm: true,
      errorInfo: '',
      successInfo: '',
      infoTable: false
    }),
    methods: {
      changeForm(payload) {
        console.log('pa', payload)
        this.selectForm = payload
      }
    },
    watch: {
      error: function (val) {
        console.log('val', val)
        this.errorInfo = val.response?.data?.message
        this.infoTable = true
        setTimeout(() => {
          this.infoTable = false
          this.errorInfo = ''
        }, 3000)
      },
      notification: function (val) {
        this.successInfo = val.data?.message
        this.infoTable = true
        setTimeout(() => {
          this.infoTable = false
          this.successInfo = ''
        }, 3000)
      }
    }
  }
</script>

<style scoped>
  .main-wrapper {
    background-color: #039BE5;
    position: relative;
  }

  .menu {
    background-color: #0288D1;
  }
  .main-form {
    height: 95vh;
  }


</style>
