<template>
  <div>
    <header-menu/>
    <div class="wrapper">
      <add-form-bot/>
    </div>
    <div class="wrapper">
      <h2>Отправить всем сообщение </h2>
      <send-message-bot/>
    </div>
    <div class="wrapper">
      <h2>Список ваших чатов </h2>
      <wrapper-chat/>
    </div>
    <div class="wrapper">
      <h2>Список ваших ботов </h2>
      <telegram-card/>
    </div>
  </div>
</template>
<script>

import {mapGetters} from "vuex";
import HeaderMenu from "@/components/profile/views/HeaderMenu";
import AddFormBot from "@/components/profile/forms/addFormBot";
import TelegramCard from "@/components/profile/views/bot/telegramCard";
import WrapperChat from "../components/profile/views/botChat/wrapperChat";
import SendMessageBot from "../components/profile/forms/sendMessageBot";

export default {
  name: "user",
  components: {SendMessageBot, WrapperChat, TelegramCard, AddFormBot, HeaderMenu},
  computed: {
    ...mapGetters(['user', 'telegramUser', 'telegramChat'])
  }
}
</script>

<style scoped>
  .wrapper {
    width: 90%;
    margin: 0 auto 40px auto;
  }
  .wrapper > h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 17px;
    position: relative;
  }
</style>
