<template>
  <form @submit.prevent="authUser" class="form">
    <h3 class="mb-5">Вход в систему</h3>
    <v-text-field
        label="Введите ваш логин"
        v-model="login"
        hide-details="auto"
    ></v-text-field>
    <p class="error-text" v-if="error.login">{{rules.login}}</p>
    <v-text-field
        v-model="password"
        label="Введите ваш пароль"
        hide-details="auto"
        type="password"
    ></v-text-field>
    <p class="error-text" v-if="error.password">{{rules.password}}</p>
    <v-row class="d-flex justify-center align-center mt-5">
      <v-col><span>Нет аккаунта?</span></v-col>
      <v-col class="d-flex justify-end"><a @click.prevent="routerRegister">Зарегестрироваться</a></v-col>
    </v-row>
    <v-btn
        block
        depressed
        type="submit"
        color="light-blue darken-2 white--text"
        class="mt-7"
    >Войти</v-btn>
  </form>
</template>

<script>

export default {
  name: "auth",
    data: () => ({
      error: {
        password: false,
        login: false
      },
      process: false,
      login: '',
      password: '',
      rules: {
        login: '* Поле не должно быть пустым',
        password: '* Поле не должно быть пустым',
      }
    }),
    methods: {
      async authUser() {
        if (this.login === '') {
          this.error.login = true
        } else if (this.password === '') {
          this.error.password = true
        } else {
          this.error.login = false
          this.error.password = false
          const dataUserAuth = {
            login: this.login,
            password: this.password
          }
          await this.$store.dispatch('authUser', dataUserAuth).then(() => {
          }).catch((e) => {
            console.log(e)
          })

        }
      },
      routerRegister() {
        this.$emit('selectForm', false)
      }
    },
    watch: {
      login: function (val) {
        if (val === '') {
          return this.error.login = true
        } else {
          return this.error.login = false
        }
      },
      password: function (val) {
        if (val === '') {
          return this.error.password = true
        } else {
          return this.error.password = false
        }
      }
    }
}
</script>

<style scoped>
.form {
  background-color: #F5F5F5;
  padding: 35px 30px 35px 30px;
  border-radius: 10px;
  width: 80%;
}
.error-text {
  margin-top: 12px;
  color: #FF7043;
  font-weight: 400;
  margin-bottom: 5px;
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 12px
  }
  50% {
    margin-top: 12px
  }
}
</style>
