<template>
  <div>
    <p class="error--text" v-if="activeDate">{{errorNotification}}</p>
    <p class="error--text" v-if="activeHour">{{errorNotification}}</p>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: "notificationText",
  data: () => ({
    activeDate: false,
    activeHour: false,
    errorNotification: ''
  }),
  computed: {...mapGetters(['error']),
    eMessage () {
      return  this.error.response.data
    }
  },
  watch: {
    eMessage: function (val) {
      if(val.type === 'date') {
        console.log('val.type', val)
        this.activeDate = true
        this.errorNotification = this.error.response.data.message
      } else if (val.type === 'hour') {
        this.activeHour = true
        this.errorNotification = this.error.response.data.message
      }
    }
  }
}
</script>

<style scoped>
  .error--text {
    margin-top: 7px;
    margin-left: 7px;
  }
</style>
