<template>
  <div class="v-alert">
    <v-alert
        v-if="success"
        type="success"
    >{{ success }}</v-alert>
    <v-alert
        v-else
        color="red"
        type="error"
    >{{ error }}</v-alert>
  </div>
</template>

<script>
export default {
  name: "notification",
  props: ['error', 'success']
}
</script>

<style scoped>
  .v-alert {
    position: absolute;
    right: 0;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    animation: 2s easy-out;
    animation-name: slidein;
    z-index: 99;
  }
  @keyframes slidein {
    from {
      top: 0px;
    }
    to {
      top: 10px
    }
    50% {
      top: 10px
    }
  }
</style>
